<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/customers/new" th:object="${customerForm}" method="post">
        <div class="form-group">
            <label th:for="cus_nm">이름</label>

            <input type="text" th:field="*{cus_nm}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('cus_nm')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('cus_nm')}" th:errors="*{cus_nm}">Incorrect name</p>

        </div>

        <p></p>

        <div class="form-group">
            <label th:for="birth">생년월일</label>

            <input type="text" th:field="*{birth}" class="form-control" placeholder="생년월일을 입력하세요"
                   th:class="${#fields.hasErrors('birth')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Incorrect date</p>

        </div>

        <p></p>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
