<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>상품명</th>
                <th>상품상태</th>
                <th>판매시작일자</th>
                <th>판매종료일자</th>
                <th>최소가입금액</th>
                <th>최대가입금액</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.sav_prdt_nm}"></td>
                <td th:text="${product.prdt_stcd}"></td>
                <td th:text="${product.sale_bgdt}"></td>
                <td th:text="${product.sale_clsdt}"></td>
                <td th:text="${product.min_amt}"></td>
                <td th:text="${product.max_amt}"></td>
                <td>
                    <a href="#" th:href="@{/products/{id}/edit (id=${product.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
