<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label th:for="sav_prdt_nm">상품명</label>
            <input type="text" th:field="*{sav_prdt_nm}" class="form-control" placeholder="상품명을 입력하세요" />
        </div>
        <br>
        <div class="form-group">
            <label th:for="prdt_stcd">상품상태</label> <br>
            <select name="prdt_stcd">
                <option value="1">정상</option>
                <option value="9">종료</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label th:for="sale_bgdt">판매시작일자</label>
            <input type="text" th:field="*{sale_bgdt}" class="form-control" placeholder="판매시작일자를 입력하세요" />
        </div>
        <br>
        <div class="form-group">
            <label th:for="sale_clsdt">판매종료일자</label>
            <input type="text" th:field="*{sale_clsdt}" class="form-control" placeholder="판매종료일자를 입력하세요" />
        </div>
        <br>
        <div class="form-group">
            <label th:for="min_amt">최소가입금액</label>
            <input type="number" th:field="*{min_amt}" class="form-control" placeholder="최소가입금액을 입력하세요" />
        </div>
        <br>
        <div class="form-group">
            <label th:for="max_amt">최대가입금액</label>
            <input type="number" th:field="*{max_amt}" class="form-control"  placeholder="최대가입금액을 입력하세요" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
