<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> <!-- fragments 는 include의 개념과 비슷 -->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>B BANK</h1>
        <p class="lead">고객 정보</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/customers/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/customers">고객 목록</a>
        </p>
        <p class="lead">상품 정보</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/products/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/products">상품 목록</a>
            <a class="btn btn-lg btn-dark" href="/iyuls/iyulPage">이율 정보</a>
        </p>
        <p class="lead">계좌 정보</p>
        <p>
            <a class="btn btn-lg btn-info" href="/accounts/new">계좌 개설</a>
            <a class="btn btn-lg btn-info" href="/accounts">계좌 조회</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
